@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Rezervasyonlar</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Misafir</th>
                            <th>Giriş Tarihi</th>
                            <th>Çıkış Tarihi</th>
                            <th>Durum</th>
                            <th>Onayla</th>
                            <th>İptal Et</th>
                            <th>Beklet</th>
                            <th>Güncelle</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td>@item.Name</td>
                                <td>@item.CheckIn.ToShortDateString()</td>
                                <td>@item.CheckOut.ToShortDateString()</td>

                                @if (@item.Status == "Onaylandı")
                                {
                                    <td><span class="badge badge-success px-2">@item.Status</span></td>
                                }
                                else if (@item.Status == "Onay Bekliyor")
                                {
                                    <td><span class="badge badge-info px-2">@item.Status</span></td>
                                }
                                else if (@item.Status == "Müşteri Aranacak")
                                {
                                    <td><span class="badge badge-warning px-2">@item.Status</span></td>
                                }
                                else if (@item.Status == "İptal Edildi")
                                {
                                    <td><span class="badge badge-danger px-2">@item.Status</span></td>
                                }

                                <td><a href="/BookingAdmin/ApprovedReservation/@item.BookingID" class="btn btn-outline-primary">Onayla</a></td>
                                <td><a href="/BookingAdmin/CancelReservation/@item.BookingID" class="btn btn-outline-danger">Iptal Et</a></td>
                                <td><a href="/BookingAdmin/WaitingReservation/@item.BookingID" class="btn btn-outline-warning">Beklet</a></td>
                                <td><a href="/BookingAdmin/UpdateBooking/@item.BookingID" class="btn btn-outline-info">Güncelle</a></td>
                                <td><a href="/BookingAdmin/UpdateBooking/@item.BookingID" class="btn btn-outline-dark">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

